.shop-loader {
  position: fixed;
  inset: 0;
  background: #fff; /* optional */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.shop-loader img {
  width: 320px;
}