/* latest product crousel */
.slidecrousel {
  margin: 67px;
  margin-top: 224px;
  text-align: center;
  font-family: aviano;
}

img.imgcrousel {

  width: 250px;
  padding: 5px;

}

@media (max-width:1090px) {

  .slick-slide img {
    display: block;
    width: 90% !important;

  }

}


/* singleproductslider */

.productslider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  align-items: center;
  max-width: 900px;
 
}

.listslidewraper {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

}



.thumbnail-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: auto;
  gap: 10px;

}

@media (max-width:590px) {
  .thumbnail-list {
    flex-direction: row;
    height: auto;
    width: 320px;      
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5px;
    -webkit-overflow-scrolling: touch;
  }

  .thumb-img {
   flex-shrink: 0;
   
  }
}




.thumb-img {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  cursor: pointer;
}

.thumb-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumb-img.active {
  border-color: black;
  opacity: 80%;

}

.main-slider {
  width: 400px;

}

@media (max-width: 767px) {
  .main-slider {
    width: 350px;
    margin: auto;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-slider {
    width: 400px;
    height: 500px;
    margin: auto;
    object-fit: cover;

  }

}

.main-slider img {
  width: 390px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;


}

@media (max-width: 767px) {
  .main-slider img {
    width: 350px;
    height: 500px;
    margin: auto;
    object-fit: cover;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-slider img {
    width: 400px;
    height: 500px;
    margin: auto;
    object-fit: cover;


  }

}

.slick-prev {
  left: 5% !important;
  z-index: 1;
}

.slick-next {
  right: 5% !important;
  z-index: 1;
}

.slick-prev::before {
  color: #171717 !important;

}

.slick-next::before {
  color: #171717 !important;
}


.thumbnail-list::-webkit-scrollbar {
  width: 2px;
}
.thumbnail-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1px;
}

@media (max-width:590px) {
.thumbnail-list::-webkit-scrollbar-thumb{

  background: none;
}


}